
body, html {
  width: 100%;
  margin: 0;
  background: #084F4A;
}

body {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Arial, Helvetica,sans-serif;
  color: #FFFFFF;
}

#center {
  width: 967px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: left;
  background: #053330 url(backLargeur.jpg) left top no-repeat;
  min-height: 650px;
  _height: 650px;
}

.tab {
  color: #FFFFFF;
  display: inline-block;
  border-bottom: solid 4px #FFFFFF;
  font-family: Georgia , Arial, Helvetica, sans-serif;
  font-style: italic;
}

#contenu {
  padding: 15px 40px;
}

form.gris {
  background-color: rgba(33, 33, 33, 0.3);
  padding: 10px 50px 20px 50px;

}

.byline {
  text-align: right;
}

a {
  color: #10E8E2;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

